// Reading Vim Plugin

// Table {{{
.main
  table
    background-color: transparent
    // .table {{{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse !important;
    > td,
    > th
      background-color: #fff
    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td
      padding: 8px;
      line-height: 1.428571429;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    > thead > tr > th
      vertical-align: bottom;
      border-bottom: 2px solid #dddddd;
    > caption + thead > tr:first-child > th,
    > colgroup + thead > tr:first-child > th,
    > thead:first-child > tr:first-child > th,
    > caption + thead > tr:first-child > td,
    > colgroup + thead > tr:first-child > td,
    > thead:first-child > tr:first-child > td
      border-top: 0;
    > tbody + tbody
      border-top: 2px solid #dddddd;
    table
      background-color: #ffffff;
    // end .table }}}
    // .table-bordred {{{
    border: 1px solid #dddddd
    th,td
      border: 1px solid #ddd
    thead > tr > th,
    tbody > tr > th,
    tfoot > tr > th,
    thead > tr > td,
    tbody > tr > td,
    tfoot > tr > td
      border: 1px solid #dddddd
    thead > tr > th,
    thead > tr > td
      border-bottom-width: 2px
    // end .table }}}
    // .table-striped {{{
    tbody > tr:nth-child(odd) > td,
    tbody > tr:nth-child(odd) > th
      background-color: #f9f9f9
    // }}}
    // .table-hover {{{
    tbody > tr:hover > td,
    tbody > tr:hover > th
      background-color: #f5f5f5
    // }}}
// }}}

//------------------------------------
// vim: expandtab softtabstop=2 shiftwidth=2 foldmethod=marker
