// Reading Vim Plugin
// Color Variable {{{

// Variable {{{
font_color=c_black
bgc_color=c_white

link_color=simplex_light_blue
link_color_hover=simplex_morelight_blue
link_color_active=simplex_light_blue

h3_color=simplex_gray
h3_border_color=simplex_light_blue

footer_bgc_color=simplex_light_green
// }}}

// Basic {{{
c_white=#f8f8f8
c_black=#080808
// }}}

// Simplex {{{
simplex_blue=#3a87ad
simplex_light_blue=#21c4fd
simplex_morelight_blue=lighten(#21c4fd,10)
simplex_green=#468847
simplex_light_green=#dff0d8
simplex_gray=#6d7070
// }}}

// Vim {{{
// http://www.colourlovers.com/palette/1289228/Vim
vim_dark=#493206        // Vim Saucepan
vim_accent=#A6240C      // Give em Vim
vim_base_dark=#B6790E   // Vim Kitchen Table
vim_base_middle=#BA954E // Vim Walls
vim_base_light=#BCA674  // Vim Teapot
// }}}

// }}}

// Main {{{
body
  background-color:bgc_color
  color:font_color
  font-size: 16px
.main
  margin-top:10px
  padding:10px 20px
  background-color:c_white
  border-radius: 5px
// }}}

// Link {{{
a
  color:link_color
  &:hover
    color:link_color_hover
// }}}

// Header {{{
.navigation
  padding-top:20px
  margin-bottom: 40px
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
  color:c_black

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
  color:link_color_active

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
  color:link_color_hover

// }}}

// Title {{{
h1#title
  a
    text-decoration: none
    color: c_black

// }}}

// h3 {{{
h3
  color:h3_color
  border-bottom: 2px dashed h3_border_color
  padding:2px
  margin:20px 0
// }}}

// wihte-box {{{
.white-box
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15)
  background-color: #fdfdfd
  border-radius: 5px
  padding: 20px
  margin: 40px 0
  h2
    color: simplex_green
    text-shadow: -1px 1px 0 rgba(255, 255, 255, 1)
    margin: 5px 0 5px
    font-size: 24px
    margin: 3px
  hr
    margin: 10px 0
  li
    font-size: 18px
// }}}
.caution
  font-size: 14px

// Table {{{
.main
  table
    background-color: transparent
    a
      font-weight:200
    // .table {{{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse !important;
    > td,
    > th
      background-color: c_white
    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td
      padding: 8px;
      line-height: 1.428571429;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    > thead > tr > th
      vertical-align: bottom;
      border-bottom: 2px solid #dddddd;
    > caption + thead > tr:first-child > th,
    > colgroup + thead > tr:first-child > th,
    > thead:first-child > tr:first-child > th,
    > caption + thead > tr:first-child > td,
    > colgroup + thead > tr:first-child > td,
    > thead:first-child > tr:first-child > td
      border-top: 0;
    > tbody + tbody
      border-top: 2px solid #dddddd;
    table
      background-color: #ffffff;
    // end .table }}}
    // // .table-bordred {{{
    // border: 1px solid #dddddd
    // th,td
    //   border: 1px solid #ddd
    // thead > tr > th,
    // tbody > tr > th,
    // tfoot > tr > th,
    // thead > tr > td,
    // tbody > tr > td,
    // tfoot > tr > td
    //   border: 1px solid #dddddd
    // thead > tr > th,
    // thead > tr > td
    //   border-bottom-width: 2px
    // // end .table }}}
    // .table-striped {{{
    tbody > tr:nth-child(odd) > td,
    tbody > tr:nth-child(odd) > th
      background-color: darken(#f9f9f9,2)
    // }}}
    // .table-hover {{{
    tbody > tr:hover > td,
    tbody > tr:hover > th
      background-color: darken(#f5f5f5,3)
    // }}}

// }}}

// Footer {{{
#footer
  background-color: footer_bgc_color
  width:100%
  margin-top: 50px
  padding:20px 0
  p
    font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style:italic
    font-weight:400
    margin: 0
    padding: 0
// }}}

//------------------------------------
// vim: expandtab softtabstop=2 shiftwidth=2 foldmethod=marker
