body {
  background-color: #f8f8f8;
  color: #080808;
  font-size: 16px;
  word-wrap: break-word;
}
.main {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}
a {
  color: #21c4fd;
}
a:hover {
  color: #54d1fd;
}
.navigation {
  padding-top: 20px;
  margin-bottom: 40px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #080808;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #21c4fd;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #54d1fd;
}
h1#title a {
  text-decoration: none;
  color: #080808;
}
h3 {
  color: #6d7070;
  border-bottom: 2px dashed #21c4fd;
  padding: 2px;
  margin: 20px 0;
}
.white-box {
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 0;
}
.white-box h2 {
  color: #468847;
  text-shadow: -1px 1px 0 #fff;
  margin: 5px 0 5px;
  font-size: 24px;
  margin: 3px;
}
.white-box hr {
  margin: 10px 0;
}
.white-box li {
  font-size: 18px;
}
.caution {
  font-size: 14px;
}
.main table {
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse !important;
}
.main table a {
  font-weight: 200;
}
.main table > td,
.main table > th {
  background-color: #f8f8f8;
}
.main table > thead > tr > th,
.main table > tbody > tr > th,
.main table > tfoot > tr > th,
.main table > thead > tr > td,
.main table > tbody > tr > td,
.main table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.main table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.main table > caption + thead > tr:first-child > th,
.main table > colgroup + thead > tr:first-child > th,
.main table > thead:first-child > tr:first-child > th,
.main table > caption + thead > tr:first-child > td,
.main table > colgroup + thead > tr:first-child > td,
.main table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.main table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.main table table {
  background-color: #fff;
}
.main table tbody > tr:nth-child(odd) > td,
.main table tbody > tr:nth-child(odd) > th {
  background-color: #f4f4f4;
}
.main table tbody > tr:hover > td,
.main table tbody > tr:hover > th {
  background-color: #ededed;
}
#footer {
  background-color: #dff0d8;
  width: 100%;
  margin-top: 50px;
  padding: 20px 0;
}
#footer p {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
