<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
<nav class="navbar navbar-default">
<!-- <nav class="navbar navbar-inverse"> -->
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
    </div>

    <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
            <li {% if page.url == '/archive/index.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/archive">Archive</a></li>
            <li {% if page.url == '' %}class="active"{% endif %}><a href="#">Link2</a></li>
            <li {% if page.url == '' %}class="active"{% endif %}><a href="#">Link3</a></li>
        </ul>
    </div>
</nav>
