<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        {% include header.html %}
    </head>
    <body>

    <div class="navigation">
        <div class="container">
            {% include navigation.html %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="hidden-sm col-md-1"></div>
            <div class="main col-sm-12 col-md-10">
                <h1 id="title"><a href="{{ site.baseurl }}{{ page.url | replace:'/index.html','' }}">{% if page.title %}{{ page.title }}{% endif %}</a></h1>
                <hr>
                {{ content }}
            </div>
            <div class="hidden-sm col-md-1"></div>
        </div>
    </div>
        {% include footer.html %}
    </body>
</html>
